/*style sheet for d3 lab*/

.counties {
    fill: #e2e0e0;
    stroke: #CCC;
    stroke-width: 2px;
}

.communities {
	stroke: #FFF;
	fill: #B5C8C9;
	stroke-width:.5px;
}

.actualmap {
	border: medium solid #55597C;
}